<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.bootstrapdash.com/demo/plus/jquery/template/assets/css/demo_1/style.css">
</head>
<body>
{% for bowler in bowler_details %}


<table class="table" style="position:absolute;top:0px;width:30%;text-align:center;border:0px;" align="center" >
      <tbody>
		<tr >
			<td class="badge-info badge-pill" style="border:0px">
			<h1>{{bowler.player_name}}</h1>
			</td>
		</tr>
		<tr>
			<td class="badge-warning badge-pill" style="border:0px"> Matches : {{bowler.matches}}
			</td>
		</tr>
		<tr>
			<td class="badge-info badge-pill" style="border:0px"> Wickets : {{bowler.wickets}}
			</td>
		</tr>
		<tr>
			<td class="badge-warning badge-pill" style="border:0px"> Best : {{bowler.best_figures}}
			</td>
		</tr>
		<tr>
			<td class="badge-info badge-pill" style="border:0px"> Econ : {{bowler.economy_rate}}
			</td>
		</tr>					
		
	  </tbody>
</table>	 

{% endfor %} 