<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.bootstrapdash.com/demo/plus/jquery/template/assets/css/demo_1/style.css">
</head>
<body>

<table class="table" style="width:30%;margin-right:auto;margin-left:auto;margin-top:50px;" align="center" >
      <tbody>
		<tr class="badge-info badge-pill" style="border:0px">
			<td>Team</td>
			<td>Matches</td>
			<td>Won</td>
			<td>Lost</td>
			<td>Points</td>
			<td>NRR</td>
		</tr>
{% for match in tournament_details %}

		<tr>
			<td>{{match.team_name}}</td>
			<td>{{match.matches}}</td>
			<td>{{match.won}}</td>
			<td>{{match.lost}}</td>
			<td>{{match.points}}</td>
			<td>{{match.NRR}}</td>
		</tr>	

{% endfor %} 
		
	  </tbody>
</table>